/*

	Copyright © 2019–2020, Stewart Smith. See LICENSE for details.

*/
@charset "utf-8";




/*

	This file is in the process of being separated
	in to “essential global Q.js styles” which will
	remain here in Q.css, and “documentation-specific”
	styles which will be removed from here and placed
	within the /other/documentation.css file instead.

	The goal is for a developer to be able to place 
	this Q.css file into their own web app with little
	to no interference with their app. All variables
	and styles here will ultimately be prefaced with
	a capital Q, eg. --C-color-base, or .C-text-input
	and so on.


*/




svg, :root {



	    /**************/
	   /*            */
	  /*   Colors   */
	 /*            */
	/**************/


	/*  Base color (blue)  */

	--C-color-base-hue:       210;
	--C-color-base-saturation: 85%;
	--C-color-base-lightness:  40%;


	/*  Red  */

	--C-color-red-hue: calc( var( --C-color-base-hue ) + 180 - 30 );
	--C-color-red-saturation: 85%;
	--C-color-red-lightness:  45%;
	--C-color-red: hsl(

		var( --C-color-red-hue ),
		var( --C-color-red-saturation ),
		var( --C-color-red-lightness )
	);


	/*  Orange  */
	
	--C-color-orange-hue: calc( var( --C-color-base-hue ) + 180 - 15 );
	--C-color-orange-saturation: 85%;
	--C-color-orange-lightness:  50%;
	--C-color-orange: hsl(

		var( --C-color-orange-hue ),
		var( --C-color-orange-saturation ),
		var( --C-color-orange-lightness )
	);


	/*  Yellow  */

	--C-color-yellow-hue: calc( var( --C-color-base-hue ) + 180 + 15 );
	--C-color-yellow-saturation: 90%;
	--C-color-yellow-lightness:  50%;
	--C-color-yellow: hsl(

		var( --C-color-yellow-hue ),
		var( --C-color-yellow-saturation ),
		var( --C-color-yellow-lightness )
	);
	

	/*  Green  */

	--C-color-green-hue: calc( var( --C-color-base-hue ) + 180 + 60 );
	--C-color-green-saturation: 80%;
	--C-color-green-lightness:  35%;
	--C-color-green: hsl(

		var( --C-color-green-hue ),
		var( --C-color-green-saturation ),
		var( --C-color-green-lightness )
	);


	/*  Blue  */

	--C-color-blue-hue:        var( --C-color-base-hue );
	--C-color-blue-saturation: var( --C-color-base-saturation );
	--C-color-blue-lightness:  var( --C-color-base-lightness );
	--C-color-blue: hsl(

		var( --C-color-blue-hue ),
		var( --C-color-blue-saturation ),
		var( --C-color-blue-lightness )
	);


	/*  Grayscale  */

	--C-color-white:     #FFFFFF;
	--C-color-chalk:     #F9F9F9;
	--C-color-newsprint: #F3F3F3;
	--C-color-titanium:  #CCCCCC;
	--C-color-slate:     #777777;
	--C-color-charcoal:  #333333;
	--C-color-black:     #000000;
	

	/*  Background  */

	--C-color-background-hue: var( --C-color-base-hue );
	--C-color-background-saturation: 15%;
	--C-color-background-lightness:  98%;	
	--C-color-background: hsl(

		var( --C-color-background-hue ),
		var( --C-color-background-saturation ),
		var( --C-color-background-lightness )
	);
	/*--C-color-background: white;*/


	/*  Misc  */

	--C-text-color: hsl(

		var( --C-color-base-hue ),
		 5%,
		35%
	);
	--C-text-code-comment-color: rgba( 0, 0, 0, 0.4 );
	--C-text-code-output-color:  rgba( 0, 0, 0, 1 );

	--C-selection-color: var( --C-color-black );
	--C-selection-background-color: var( --C-color-yellow );

	--C-hyperlink-internal-color: var( --C-color-blue );
	--C-hyperlink-external-color: var( --C-text-color );
	
	--C-background-callout-color: var( --C-color-white );

	--C-svg-fill-color: var( --C-text-color );




	/*  Fonts  */

	--C-font-family-serif:   'Source Serif Pro', 'Roboto Slab', 'Georgia', serif;
	--C-font-family-sans:    'SF Pro Text', system-ui, -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	--C-font-family-mono:    'Roboto Mono', 'Source Code Pro', 'Menlo', 'Courier New', monospace;
	--C-font-family-symbols: 'Georgia', serif;
}




    /*******************/
   /*                 */
  /*   Interactive   */
 /*                 */
/*******************/


.C-input, 
.C-circuit-text-input {

	margin: 1.5rem 0 0 0 !important;
	outline: none !important;
	border:  none !important;
	border-radius: 1.2rem !important;
	box-shadow: 
		 0.2rem  0.2rem 0.2rem rgba( 0, 0, 0, 0.15 ) inset,
		-0.2rem -0.2rem 0.2rem rgba( 255, 255, 255, 1 ) inset;

	background: linear-gradient( 

		0.375turn,
		rgba( 255, 255, 255, 1.0 ),
		rgba( 255, 255, 255, 0.2 )
	) !important;
}
.C-input, 
.C-circuit-text-input {
	
	padding: 1.5rem !important;
	color: #555 !important;
	font-size: 0.9rem !important;
	line-height: 1.2rem !important;
}



.C-circuit-text-input {

	/*min-width:  18rem;*/
	width: 100%;
	min-height: 8rem;
	/*margin:  1rem 0 2rem 0;*/
	margin:  1rem 0 0 0;
	border: 1px solid var( --C-color-blue );
	border-radius: 0.5rem;	
	background-color: var( --C-color-chalk );
	padding: 1rem 0 0 2rem;
	color: var( --C-color-blue );
	font-family: var( --C-font-family-mono );
	font-size:   1.0rem;
	line-height: 1.2rem;
	white-space: pre;
	word-wrap: normal;/*  OMFG, iOS you make me sad.  */
}






.C-button {

	position: relative;
	text-align: right;
	margin: 0.5rem 1rem 0 0;
	border-radius: 3rem;
	box-shadow: 
		-0.1rem -0.1rem 0 rgba( 255, 255, 255, 1 ),
		 0.1rem  0.1rem 0.2rem rgba( 0, 0, 0, 0.3 );
	height: 3rem;
	background: 
		var( --C-color-blue )
		linear-gradient(

			0.4turn,
			rgba( 255, 255, 255, 0.2 ),
			rgba( 0, 0, 0, 0.08 )
		);
	padding: 0.8rem 1.8rem;
	color: var( --C-color-white );
	font-family: var( --C-font-family-sans );
	font-size:   1rem;
	line-height: 1rem;	
	font-weight: 500;
	letter-spacing: 0;
	text-shadow: -1px -1px 0 rgba( 0, 0, 0, 0.1 );
	cursor: pointer;
}
.C-button:hover {

	background: 
		hsl(

			var( --C-color-blue-hue ),
			var( --C-color-blue-saturation ),
			calc( var( --C-color-blue-lightness ) * 1.2 )
		)
		linear-gradient(

			0.4turn,
			rgba( 255, 255, 255, 0.2 ),
			rgba( 0, 0, 0, 0.08 )
		);
}
.C-button:focus {

	margin-top: 0.7rem;
	margin-bottom: -0.2rem;
	margin-right: 0.9rem;
	outline: none;
	box-shadow: 
		-0.1rem -0.1rem 0 rgba( 255, 255, 255, 1 ) inset,
		 0.1rem  0.1rem 0.2rem rgba( 0, 0, 0, 0.3 ) inset;
	background: 
		var( --C-color-blue )
		linear-gradient(

			0.4turn,
			rgba( 0, 0, 0, 0.08 ),
			rgba( 255, 255, 255, 0.2 )
		);
}
.C-button[disabled] {

	box-shadow: 
		-0.1rem -0.1rem 0 rgba( 255, 255, 255, 1 ),
		 0.1rem  0.1rem 0.2rem rgba( 0, 0, 0, 0.3 );
	background: 
		var( --C-color-background )
		linear-gradient(

			0.45turn,
			rgba( 255, 255, 255, 0.1 ),
			rgba( 0, 0, 0, 0.05 )
		);
	color: rgba( 0, 0, 0, 0.3 );
	text-shadow: 1px  1px 0 rgba( 255, 255, 255, 1 );
	cursor: default;
}






/*

	The below still need to be prefaced with “C-”
	and for the HTML pages to be updated accordingly.

*/






    /*************/
   /*           */
  /*   Maths   */
 /*           */
/*************/


.maths {

	max-width: 100%;
	overflow-x: auto;
	font-family: var( --C-font-family-sans );
	/*letter-spacing: 0.03em;*/
	word-spacing: 0.2em;
}
dd .maths {

	margin-top:  0;
	margin-left: 0;
}




.symbol {

	font-size: 1.1em;
	padding: 0 0.1em;
	font-family: var( --C-font-family-symbols );
	font-style: italic;
	font-weight: 900;
	letter-spacing: 0.05em;
}




.division {

	display: inline-block;
	vertical-align: middle;
	margin:  10px;
}
.division td {

	padding: 5px;
}
.dividend {

	border-bottom: 1px solid #CCC;
	text-align: center;
}
.divisor {

	text-align: center;
}




.matrix {
	
	display: inline-block;
	vertical-align: middle;
	position: relative;
	align: middle;
	margin:  1em 0.5em;
	padding: 1em;
	/*font-family: var( --C-font-family-mono );*/
	font-weight: 300;
	line-height: 1em;
	/*text-align: right;*/
	text-align: center;
}
.matrix td {

	padding: 0.25em 0.5em;
}
.matrix-bracket-left, .matrix-bracket-right {

	position: absolute;
	top:      0;
	width:    0.5em;
	height: 100%;
	border:   1px solid #CCC;
}
.matrix-bracket-left {

	left: 0;
	border-right: none;
}
.matrix-bracket-right {

	right: 0;
	border-left: none;
}
/*.matrix.qubit tr:first-child td {

	color: #BBB;
}*/



.C-state-vector,
.complex-vector {

	font-family: var( --C-font-family-mono );
}
.C-state-vector.bra::before,
.complex-vector.bra::before {

	content: '⟨';
	color: #BBB;
}
.C-state-vector.bra::after,
.complex-vector.bra::after {

	content: '|';
	color: #BBB;
}
.C-state-vector.ket::before,
.complex-vector.ket::before {

	content: '|';
	color: #BBB;
}
.C-state-vector.ket::after,
.complex-vector.ket::after {

	content: '⟩';
	color: #BBB;
}
.C-state-vector.bra + .C-state-vector.ket::before,
.complex-vector.bra + .complex-vector.ket::before {

	content: '';
}







